/** @format */ /** @format */ /** @format */
@font-face {
  font-family: "AvenirNext";
  src: local("Avenir Next Regular");
  src: url("../4.0 - Assets/_Global Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNext";
  src: local("Avenir Next Demi Bold");
  src: url("../4.0 - Assets/_Global Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNext";
  src: local("Avenir Next Bold");
  src: url("../4.0 - Assets/_Global Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
.title-box {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  width: 100%;
  height: 80px;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .title-box {
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 3rem;
  }
}
.title-box__logo {
  background-color: #323232;
  margin-bottom: 1rem;
}
.title-box__nav {
  display: flex;
  text-decoration: none;
  padding: 0 1.5rem;
  flex-direction: row;
}
.title-box__nav-link {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0 1.5rem;
  color: #ffffff;
}
.title-box__nav-link--selected {
  color: white;
  border-bottom: 3px solid white;
}

.hero {
  display: flex;
  align-items: center;
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  height: 50vh;
}
.hero__title {
  color: #ffffff;
  text-align: left;
  font-size: 5rem;
  margin-left: 2rem;
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 0 9.365rem;
  }
}
.about__title {
  font-size: 3rem;
}

.text-container {
  display: flex;
  justify-content: center;
}
.text-container__item {
  width: 45%;
  width: 30%;
  margin: 0 10%;
}

.gallery {
  display: flex;
  width: 100%;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 0 1rem 2.5rem 1.5rem;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding: 0 9rem 2.5rem 9rem;
    justify-content: center;
  }
}
.gallery__imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: 0 -1rem;
}
.gallery__img {
  width: 33.3333333333%;
  height: auto;
  padding: 1rem;
  box-sizing: border-box;
  max-width: 33.3333%;
  box-sizing: border-box;
}
@media screen and (max-width: 480px) {
  .gallery__img {
    width: 100%;
    max-width: 100%;
  }
}

.info {
  display: flex;
  background-color: #323232;
  color: #ffffff;
}
.info__start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
}
.info__title {
  font-weight: 500;
  width: 15rem;
}
.info__socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info__social {
  width: 20px;
  height: 20px;
  padding: 0 0.8rem 0 1.5rem;
}

.contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .contact {
    flex-direction: row;
  }
}
.contact__id {
  width: 16rem;
  margin: 2rem;
}
.contact__id-name {
  margin-bottom: 0;
}
.contact__id-company {
  margin-bottom: 1rem;
}

#commentForm label {
  display: block;
  margin-bottom: 5px;
}

.comments {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.comments__section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  text-align: center;
}
.comments__section h1 {
  text-align: left;
}
.comments__section #commentSection {
  display: flex;
  align-items: flex-start;
}
.comments__section .profile-picture {
  flex-shrink: 0;
  margin-right: 10px; /* Adjust the margin value as needed */
}
.comments__section .profile-picture img {
  width: 50px; /* Adjust the size of the profile picture */
  height: 50px;
  border-radius: 50%;
}
.comments__section form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}
.comments__section .form-group {
  width: 100%;
  margin-bottom: 10px;
}
.comments__section label {
  display: block;
  text-align: left;
}
.comments__section input,
.comments__section textarea {
  width: 100%;
}
.comments__section button {
  align-self: flex-start;
}
.comments__section .comment-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  border-top: 1px solid #ccc;
  padding-top: 0.5rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}
.comments__section .comment-container .profile-picture {
  margin-right: 1rem;
}
.comments__section .comment-container .comment-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.comments__section .comment-container .comment-content .comment-name {
  font-weight: bold;
  margin-right: auto;
}
.comments__section .comment-container .comment-content .comment-date {
  margin-left: auto;
}
.comments__section .comment-container .comment-text {
  margin-top: 0.5rem;
}

#commentList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
}/*# sourceMappingURL=main.css.map */